In [69]:
import pandas as pd

df = pd.read_csv('customer_shopping_behavior.csv')

In [70]:
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [72]:
df.describe(include = 'all')

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [73]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [74]:
df.shape

(3900, 18)

In [75]:
# Fill the remaining missing values with the overall median
df['Review Rating'] = df['Review Rating'].fillna(df['Review Rating'].median())

In [76]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [77]:
# Check mean rating per category to see which ones are NaN
df.groupby('Category')['Review Rating'].mean()

Category
Accessories    3.770242
Clothing       3.722395
Footwear       3.793823
Outerwear      3.745988
Name: Review Rating, dtype: float64

In [78]:
# This forces every remaining empty spot to fill with the global median (approx 3.75)
df['Review Rating'] = df['Review Rating'].fillna(df['Review Rating'].median())

In [79]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [80]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [81]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [82]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [83]:
# 1. Define the logic for the groups
def categorize_age(age):
    if age < 25:
        return 'Gen Z'
    elif age < 41:
        return 'Millennial'
    elif age < 57:
        return 'Gen X'
    else:
        return 'Boomer'

# 2. Apply this logic to the 'Age' column
df['Age Group'] = df['Age'].apply(categorize_age)

# 3. Quick check to confirm it worked
df[['Age', 'Age Group']].head()

KeyError: 'Age'

In [84]:
print(df.columns)

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [85]:
# 1. Define the logic for the groups
def categorize_age(age):
    if age < 25:
        return 'Gen Z'
    elif age < 41:
        return 'Millennial'
    elif age < 57:
        return 'Gen X'
    else:
        return 'Boomer'

# 2. Apply this logic to the 'age' column (lowercase!)
df['Age Group'] = df['age'].apply(categorize_age)

# 3. Quick check to confirm it worked
df[['age', 'Age Group']].head()

   age Age Group
0   55     Gen X
1   19     Gen Z
2   50     Gen X
3   21     Gen Z
4   45     Gen X

In [86]:
# 1. Define a function to calculate a score based on purchasing history
def calculate_loyalty(row):
    score = 0
    
    # Give points for previous purchases
    if row['previous_purchases'] > 30:
        score += 5
    elif row['previous_purchases'] > 10:
        score += 3
    else:
        score += 1
        
    # Give points for frequency
    if row['frequency_of_purchases'] == 'Weekly':
        score += 5
    elif row['frequency_of_purchases'] == 'Bi-Weekly':
        score += 3
    elif row['frequency_of_purchases'] == 'Monthly':
        score += 2
    else:
        score += 1
        
    return score

# 2. Apply this logic row-by-row (axis=1 means "read across the row")
df['Loyalty Score'] = df.apply(calculate_loyalty, axis=1)

# 3. See who your VIPs are
df[['customer_id', 'previous_purchases', 'frequency_of_purchases', 'Loyalty Score']].head()

   customer_id  previous_purchases frequency_of_purchases  Loyalty Score
0            1                  14            Fortnightly              4
1            2                   2            Fortnightly              2
2            3                  23                 Weekly              8
3            4                  49                 Weekly             10
4            5                  31               Annually              6

In [87]:
labels = ['Young Adult', 'Adult','Middle-aged','Senior']
df['age_group'] = pd.qcut(df['age'], q=4 ,labels=labels)

In [88]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-aged
1   19  Young Adult
2   50  Middle-aged
3   21  Young Adult
4   45  Middle-aged
5   46  Middle-aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-aged

In [89]:
frequency_mapping = {
    'Fortnightly ': 14,
    'Weekly ': 7,
    'Monthly':30,
    'Quarterly':90,
    'Bi-Weekly ':14,
    'Annually ': 365,
    'Every 3 Months':90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [90]:
df[['purchase_frequency_days','frequency_of_purchases']].head(10)

   purchase_frequency_days frequency_of_purchases
0                      NaN            Fortnightly
1                      NaN            Fortnightly
2                      NaN                 Weekly
3                      NaN                 Weekly
4                      NaN               Annually
5                      NaN                 Weekly
6                     90.0              Quarterly
7                      NaN                 Weekly
8                      NaN               Annually
9                     90.0              Quarterly

In [91]:
df[['discount_applied','promo_code_used']].head(10)

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes
5              Yes             Yes
6              Yes             Yes
7              Yes             Yes
8              Yes             Yes
9              Yes             Yes

In [92]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [93]:
df = df.drop('promo_code_used', axis=1)

In [94]:
print(df.columns)

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_(usd)', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'Age Group', 'Loyalty Score', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [95]:
%pip install sqlalchemy pyodbc psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in ./Library/Python/3.9/lib/python/site-packages (2.0.46)
Requirement already satisfied: pyodbc in ./Library/Python/3.9/lib/python/site-packages (5.2.0)
Requirement already satisfied: psycopg2-binary in ./Library/Python/3.9/lib/python/site-packages (2.9.11)
Requirement already satisfied: typing-extensions>=4.6.0 in ./Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [96]:
import pandas as pd
from sqlalchemy import create_engine
import urllib

# ==========================================
# 1. FILL IN YOUR DETAILS HERE
# ==========================================
server   = 'localhost,1433'      # Try 'localhost' first. If using Docker, might be 'localhost,1433'
database = 'portfolio'         # The name of your database
username = 'sa'             # Your SQL username (often 'sa')
password = 'StrongPass@123'  # The password you type when you open Azure Data Studio
# ==========================================

# 2. DEFINE THE MAC DRIVER
# This is the standard driver name for Mac.
driver = 'ODBC Driver 17 for SQL Server' 

# 3. CREATE THE CONNECTION
try:
    # Build the connection string
    params = urllib.parse.quote_plus(f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}')
    
    # Connect
    engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
    connection = engine.connect()
    
    print(" SUCCESS! Connected to your database.")
    
except Exception as e:
    print(" CONNECTION FAILED")
    print("Error message:", e)

 SUCCESS! Connected to your database.

In [97]:
# 1. Define the table name you want to create in the database
table_name = 'customer'

# 2. Write the data to SQL
# 'replace' means: if the table already exists, drop it and upload this new version.
# index=False means: don't upload the row numbers (0, 1, 2...) as a separate column.
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f" Data successfully saved to the '{table_name}' table in the database!")

 Data successfully saved to the 'customer' table in the database!

In [99]:
# Rename the column to remove special characters
df = df.rename(columns={'purchase_amount_(usd)': 'purchase_amount'})

# Check to make sure it worked
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,...,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,Age Group,Loyalty Score,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,...,Yes,Express,Yes,14,Venmo,Fortnightly,Gen X,4,Middle-aged,NaN
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,...,Yes,Express,Yes,2,Cash,Fortnightly,Gen Z,2,Young Adult,NaN
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,...,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Gen X,8,Middle-aged,NaN
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,...,Yes,Next Day Air,Yes,49,PayPal,Weekly,Gen Z,10,Young Adult,NaN
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,...,Yes,Free Shipping,Yes,31,PayPal,Annually,Gen X,6,Middle-aged,NaN

In [100]:
print("Columns in Python:", df.columns)

Columns in Python: Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'Age Group', 'Loyalty Score', 'age_group',
       'purchase_frequency_days'],
      dtype='object')

In [102]:
table_name = 'customer'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(" SQL Table updated successfully!")

 SQL Table updated successfully!